@layer components {
  .bottom-navigation-bar {
    @apply fixed z-fixed;

    left: calc(0.75rem + var(--safe-area-inset-left));
    right: calc(0.75rem + var(--safe-area-inset-right));
    bottom: calc(0.5rem  + var(--safe-area-inset-bottom));

    nav {
      @apply flex
        rounded-full
        items-stretch
        bg-surfaceContainer
        text-onSurfaceVariant
        text-labelMedium
        overflow-clip
        elevation-1
        max-w-screen-medium
        mx-auto
        cursor-pointer
        select-none;

        /* h-20 */
    }
  }
}
